@model List<Ogrenci>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutYeni.cshtml";
}

<div class="page-spacer"></div>

<div class="ml-5">
    <h1> Stajyerleriniz </h1>

    <p class="text -lg">
        Bünyeniz altında bulunan stajyerlere puan verin.
    </p>

</div>


<div class="page-spacer"></div>

<div>
    <hr />
</div>


<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th>
                    Öğrenci Adı
                </th>
                <th>
                    Öğrenci Soyadı
                </th>
                <th>
                    Öğrenci Emaili
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoyAdi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        <a asp-action="StajPuanla" asp-route-id="@item.OgrenciId">Stajı Puanla</a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
