
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <script src="~/assets/js/jquery-3.3.1.min.js"></script>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="~/ogrenci/top_ikon.png" rel="icon" type="image/png">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/assets/css/uikit.css">
    <link rel="stylesheet" href="~/assets/css/tailwind.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link href="~/assets/css/uikit.css" rel="stylesheet" />
    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="~/assets/css/icons.css">



    <meta name="viewport" content="width=device-width" />
    <title>Staj Şefi Girşi</title>
</head>
<body>
    <div class="page-spacer"></div>

    <div class="uk-container">

        <div class="uk-width-1-3@m m-auto my-16">
            <div class="mb-4">
                <h2 class="mb-0">Hoş <span class="uk-text-bold">Geldiniz</span></h2>
                <p class="my-0">Stajyerlere not vermek için giriş yapınız.</p>
            </div>
            <form>

                <div class="uk-form-group  mb-0">
                    <label class="uk-form-label"> Email</label>

                    <div class="uk-inline w-full">
                        <span class="uk-form-icon mb-4">
                            <i class="uil-envelope"></i>
                        </span>
                        <input class="uk-input" type="email" placeholder="name@example.com">
                    </div>

                </div>

                <div class="uk-form-group  mb-0">
                    <label class="uk-form-label"> Şifre</label>

                    <div class="uk-inline w-full">
                        <span class="uk-form-icon mb-4">
                            <i class="uil-lock"></i>
                        </span>
                        <input class="uk-input" type="password" placeholder="********">
                    </div>

                </div>


                <div class="uk-flex-middle" uk-grid>
                    <div class="uk-width-expand@s">
                        @*<p> Don't have account <a href="form-register.html">Sign up</a></p>*@
                    </div>
                    <div class="uk-width-auto@s">
                        <input class="btn_staj_sef_giris_yap" type="button" value="Giriş Yap">
                    </div>
                </div>

            </form>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            $(".btn_staj_sef_giris_yap").click(function () {
                window.location.href = "/StajSef/Index";
            });

        });

    </script>

    <script src="~/assets/js/tippy.all.min.js"></script>

    <script src="~/assets/js/uikit.js"></script>
    <script src="~/assets/js/simplebar.min.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/bootstrap-select.min.js"></script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>






</body>
</html>
