
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <script src="~/assets/js/jquery-3.3.1.min.js"></script>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="~/ogrenci/top_ikon.png" rel="icon" type="image/png">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/assets/css/uikit.css">
    <link rel="stylesheet" href="~/assets/css/tailwind.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link href="~/assets/css/uikit.css" rel="stylesheet" />
    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="~/assets/css/icons.css">


    <meta name="viewport" content="width=device-width" />
    <title>Akademisyen Girişi</title>
</head>
<body>

    <div class="page-spacer"></div>
    <div class="page-spacer"></div>
    <div class="page-spacer"></div>
    <div class="page-spacer"></div>
    <div class="page-spacer"></div>
    <div class="page-spacer"></div>
    <div class="page-spacer"></div>
    <div class="page-spacer"></div>
    <div class="page-spacer"></div>



    <div class="m-auto py-10">
        <div class="bg-gradient-to-l from-red-500 to-red-500">
            <div class="container m-auto">

                <div class="lg:-my-16 -mb-10 items-center justify-between lg:flex lg:pt-0 pt-12">
                    <div class="lg:text-left lg:w-6/12 text-center uk-light">
                        <h1 class="font-extrabold leading-none mb-5 lg:text-4xl text-2xl text-white"> Akademisyen Girişi </h1>
                        <p class="font-medium lg:text-lg">
                            Giriş yapın, öğrencilerinizin staj evraklarını inceleyin,
                            soru ve cevaplara ulaşın, güncel staj durumlarını inceleyin.
                        </p>
                    </div>
                    <div class="lg:w-5/12 ml-auto">
                        <div class="relative bg-white shadow-xl rounded-md">
                            <!-- card body -->
                            
                            <div class="lg:p-12 p-6 space-y-3">
                                <div>
                                    <label class="mb-0"> Email </label>
                                    <input type="email" placeholder="deneme@ktun.edu.tr"
                                           class="bg-gray-200 inp_akademisyenler_login_mail shadow-none border w-full px-3 py-2 rounded-md focus:border-blue-600 outline-none mt-2">
                                </div>
                                <div>
                                    <label class="mb-0"> Şifre </label>
                                    <input type="password" placeholder="******"
                                           class="bg-gray-200 inp_akademisyenler_login_sifre shadow-none border w-full px-3 py-2 rounded-md focus:border-blue-600 outline-none mt-2">
                                </div>

                                <button type="button"
                                        class="bg-blue-600 font-semibold p-2 mt-2 btn_akademisyen_giris_yap rounded-md text-center text-green-600 text-white w-full">
                                    Giriş Yap
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            $(".btn_akademisyen_giris_yap").click(function () {
                

                let mail = $(".inp_akademisyenler_login_mail").val();
                let sifre = $(".inp_akademisyenler_login_sifre").val();

                $.ajax({
                    url: "/akademisyenler/Login",
                    type: "POST",
                    data: { mail: mail, sifre: sifre },
                    success: function (data) {
                        if (data == "1") {
                            window.location.href = "/akademisyenler/yeni";
                        }
                        else if (data == "2") {
                            alert("Kullanıcı adı veya Şifre Hatalı !!!");
                        }
                        else if (data == "3") {
                            alert("Eksik Bilgi Girdiniz !!!");
                        }
                    }

                });



            });

        });

    </script>
    


    <script src="~/assets/js/tippy.all.min.js"></script>

    <script src="~/assets/js/uikit.js"></script>
    <script src="~/assets/js/simplebar.min.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/bootstrap-select.min.js"></script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



</body>
</html>
